{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Transactions{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}">
<link rel="stylesheet" href="{% static 'css/pagination_buttons.css ' %}">
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">#}
{#<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
    <link href="https://cdn.datatables.net/datetime/1.5.1/css/dataTables.dateTime.min.css" rel="stylesheet">

    <!-- jQuery UI for datepicker -->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <!-- DateRangePicker -->
<link href="https://cdn.jsdelivr.net/npm/daterangepicker@3.0.5/daterangepicker.css" rel="stylesheet">

{% endblock stylesheets %}

{% block heading %}{{ customer.get_full_name }} - Transactions{% endblock heading %}

{% block content %}

    <!--Go back-->
<div class="row ml-0 mb-3">
    <a href="{% url 'customers:customers_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
<!--Create new transaction-->
    <div class="row ml-3 mb-3">
        <a href="{% url 'sales:add_cus_transaction' customer.id %}">
            <button type="button" class="btn btn-success font-weight-bold">
                    <i class="fas fa-plus mr-2"></i>
                    Enter New Transaction
            </button>
        </a>
    </div>

<div class="row mr-3 ml-auto">
{#  <div>#}
{#    <input type="text" id="dateRangePicker" name="dateRange" class="form-control" autocomplete="off" placeholder="Select date range">#}
{#  </div>#}
     <table border="0" cellspacing="5" cellpadding="5">
            <tbody>
            <tr>
                <td>Start date:</td>
                <td><input type="text" id="startdate" class="date_range_filter"></td>
            </tr>
            <tr>
                <td>End date:</td>
                <td><input type="text" id="enddate" class="date_range_filter"></td>
            </tr>
        </tbody>
     </table>
</div>
</div>

   <!-- DataTable -->
    <div class="card shadow mb-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width:5%">#</th>
                            <th style="width:20%">Date</th>
                            <th style="width:15%">Transaction Type</th>
                            <th style="width:10%">Invoice / Bill No.</th>
                            <th style="width:10%">Total Amount</th>
                            <th style="width:15%">Received Amount</th>
                            <th style="width:15%">Receivable Balance</th>
                            <th style="width:15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions|dictsortreversed:"created_at" %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{ transaction.created_at|date:"Y-m-d" }}</td>
                            <td>{{ transaction.transaction_type }}</td>
                            <td>{{ transaction.invoice_bill_no|default:"-" }}</td>
                            <td>{{ transaction.total_amount|default:"-" }}</td>
                            <td>{{ transaction.received_paid_amount }}</td>
                            <td>{{ transaction.receivable_balance }}</td>
                            <td class="text-center">
                                <!--View-->
                                {% if transaction.sale %}
                                <a href="{% url 'sales:sales_details' transaction.sale.id %}" class="text-decoration-none">
                                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="tooltip" title="Update sale">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </a>
                                <!--Print receipt-->
                                <a href="{% url 'sales:sales_receipt_pdf' transaction.sale.id %}" class="text-decoration-none" target="_blank">
                                    <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="tooltip" title="View Receipt">
                                        <i class="fas fa-receipt"></i>
                                    </button>
                                </a>
                                {% else %}
                                    <span class="text-muted"> <b>No Sale</b> </span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Datatables -->
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!--Datatable buttons-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
{#<script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>#}
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.print.min.js"></script>
<!--Moment JS-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<!--jQuery UI for datepicker-->
{#    <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
{#<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
{#<script type="application/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}
{#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>#}
{#    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>#}
{#    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>#}
<!-- DateRangePicker -->
{#    <script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.0.5/daterangepicker.min.js"></script>#}
    <!-- DATETIME -->
    <script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>
    <!--Datatables-->
<script>
    let tblCategories;

    // Call the dataTables jQuery plugin
    $(document).ready(function() {

        tblCategories = $('#dataTable').DataTable({
            dom: 'Bfrtip', // Buttons are draw at this element
            buttons: [
                {
                extend: 'print',
                text: 'Print <i class="fas fa-file ml-2"></i>',
                titleAttr: 'Print',
                className: 'btn btn-info',
                exportOptions: {
                    columns: [ 0, 1, 2, 3 ,4, 5, 6 ]
                }
                },
                {
                    extend: 'excelHtml5',
                    text: 'Download Excel <i class="fas fa-file-excel ml-2"></i>',
                    titleAttr: 'Download Excel',
                    className: 'btn btn-success ml-2',
                    exportOptions: {
                        columns: [ 0, 1, 2, 3 ,4, 5, 6 ]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: 'Download PDF <i class="fas fa-file-pdf ml-2"></i>',
                    titleAttr: 'Download PDF',
                    className: 'btn btn-danger ml-2',
                    download: 'open',
                    orientation: 'vertical',
                    pageSize: 'A4',
                    title: '{{ customer.get_full_name }} - Transactions',
                    exportOptions: {
                        columns: [ 1, 2, 3, 4, 5, 6 ]
                    },
                    customize: function (doc) {
                        doc.styles = {
                            header: {
                                fontSize: 18,
                                bold: true,
                                alignment: 'center'
                            },
                            subheader: {
                                fontSize: 13,
                                bold: true
                            },
                            quote: {
                                italics: true
                            },
                            small: {
                                fontSize: 8
                            },
                            tableHeader: {
                                bold: true,
                                fontSize: 11,
                                color: 'white',
                                fillColor: '#34B655',
                                alignment: 'center',
                                valign: 'middle'
                            },
                            tableData: {
                                alignment: 'center',
                            }
                        };

                        // Company name as the title
                        doc.content.unshift({
                            text: 'Abdul Rehman : 0300-9693370 \n Asad ur Rehman : 0322-2221645',
                            style: 'companyName',
                        });

                         // Initialize variables for opening and net balance
                        var openingBalance = 0;
                        var netBalance = 0;

                        // Find the column index of the "receivable_balance" column by searching for the header text
                        var receivableBalanceColumnIndex = -1;
                        var headerRow = $('#dataTable thead tr:first th');
                        headerRow.each(function(index, element) {
                            if ($(element).text().trim() === 'Receivable Balance') {
                                receivableBalanceColumnIndex = index;
                                return false; // Exit the loop
                            }
                        });

                        // Get the last and first values of the "receivable_balance" column
                        var rows = tblCategories.rows({ search: 'applied' }).data().toArray();
                        if (rows.length > 0 && receivableBalanceColumnIndex !== -1) {
                            var lastReceivableBalance = parseFloat(rows[rows.length - 1][receivableBalanceColumnIndex]);
                            var firstReceivableBalance = parseFloat(rows[0][receivableBalanceColumnIndex]);

                            // Convert the values to numbers (if needed)
                            openingBalance = lastReceivableBalance;
                            netBalance = firstReceivableBalance;
                        }

                                // Add the opening balance and net balance to the PDF content
                        doc.content.push({
                            columns: [
                                { width: '*', text: 'Opening Balance:'},
                                { width: '*', text: formatAmountInPKR(openingBalance) }, // Show opening balance in Pakistani style
                            ],
                            alignment: 'center',
                            margin: [0, 10, 0, 5],
                            color: '#34B655',
                            fontSize: 15,
                            bold: true,
                        });

                        doc.content.push({
                            columns: [
                                { width: '*', text: 'Net Balance:' },
                                { width: '*', text: formatAmountInPKR(netBalance) }, // Show net balance in Pakistani style
                            ],
                            alignment: 'center',
                            margin: [0, 10, 0, 5],
                            color: '#34B655',
                            fontSize: 15,
                            bold: true,
                        });
                        // Function to format the amount in Pakistani style
                        function formatAmountInPKR(amount) {
                            var formattedAmount = parseFloat(amount).toLocaleString('en-PK', {
                               maximumFractionDigits: 0,
                                style: 'currency',
                                currency: 'PKR',
                            });

                            // Remove the currency symbol to display only the numeric value
                            return formattedAmount.replace('PKR', '').trim();
                        }


                        // Styles for the additional content
                        doc.styles.companyNameTitle = {
                            fontSize: 24,
                            bold: true,
                            alignment: 'center',
                            margin: [0, 0, 0, 10]
                        };

                        doc.content.unshift({
                            text: 'ABDUL REHMAN LOCK MAKERS',
                            style: 'companyNameTitle'
                        });

                        // Styles for the additional content
                        doc.styles.companyName = {
                            fontSize: 10,
                            bold: false,
                            alignment: 'center',
                            margin: [0, 10, 0, 20]
                        };

                        // Center alignment for all cells in the table
                        doc.content[3].table.body.forEach(row => {
                            row.forEach(cell => {
                                cell.alignment = 'center';
                            });
                        });

                        // Add horizontal lines between rows
                        doc.content[3].table.body.forEach(row => {
                            row.forEach(cell => {
                                cell.border = [false, false, false, true]; // [left, top, right, bottom]
                            });
                        });

                        doc.content[3].table.widths = ['15%', '25%', '10%', '15%', '15%','20%'];
                        doc.content[3].margin = [0, 10, 0, 40];
                        doc.content[3].layout = {};
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['Creation date: ', {text: moment().format('MM-DD-YYYY (HH:mm:ss)')}]
                                    },
                                    {
                                        alignment: 'right',
                                        text: ['page ', {text: page.toString()}, ' of ', {text: pages.toString()}]
                                    }
                                ],
                                margin: 20
                            }
                        });

                    }
                }
            ],
            deferRender: true,
            {#lengthMenu: [[-1], ["All"]],#} // it also can be used for showing all products on 1 page
            paging: true,
            columnDefs: [
                {
                    targets: [0],
                    visible: true,
                    searchable: false,
                },
                {
                    targets: [-1], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }
            ],
        });

        // I instantiate the two datepickers here, instead of all at once like before.
        // I also changed the dateFormat to match the format of the dates in the data table.
        $("#startdate").datepicker({
          "dateFormat": "yy-mm-dd",
          "onSelect": function(date) {  // This handler kicks off the filtering.
            minDateFilter = new Date(date).getTime();
            tblCategories.draw(); // Redraw the table with the filtered data.
          }
        }).keyup(function() {
          minDateFilter = new Date(this.value).getTime();
          tblCategories.draw();
        });

        $("#enddate").datepicker({
          "dateFormat": "yy-mm-dd",
          "onSelect": function(date) {
            maxDateFilter = new Date(date).getTime();
            tblCategories.draw();
          }
        }).keyup(function() {
          maxDateFilter = new Date(this.value).getTime();
          tblCategories.draw();
        });

        // The below code actually does the date filtering.
        minDateFilter = "";
        maxDateFilter = "";

        $.fn.dataTableExt.afnFiltering.push(
          function(oSettings, aData, iDataIndex) {
            if (typeof aData._date == 'undefined') {
              aData._date = new Date(aData[1]).getTime(); // Your date column is 3, hence aData[3].
            }

            if (minDateFilter && !isNaN(minDateFilter)) {
              if (aData._date < minDateFilter) {
                return false;
              }
            }

            if (maxDateFilter && !isNaN(maxDateFilter)) {
              if (aData._date > maxDateFilter) {
                return false;
              }
            }

            return true;
          }
        );
});
</script>
{% endblock javascripts %}