{% extends "pos/base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Transactions{% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- Datatables -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css ' %}" rel="stylesheet">
<link href="{% static 'css/pagination_buttons.css ' %}" rel="stylesheet">

    <!-- jQuery UI for datepicker -->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <!-- DateRangePicker -->
<link href="https://cdn.jsdelivr.net/npm/daterangepicker@3.0.5/daterangepicker.css" rel="stylesheet">

{% endblock stylesheets %}

{% block heading %}{{ customer.get_full_name }} - Transactions{% endblock heading %}

{% block content %}

    <!--Go back-->
<div class="row ml-0 mb-3">
    <a href="{% url 'customers:customers_list' %}">
        <button type="button" class="btn btn-info font-weight-bold">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            Go back
        </button>
    </a>
<div class="row mr-3 ml-auto">
  <div>
    <input type="text" id="dateRangePicker" name="dateRange" class="form-control" autocomplete="off" placeholder="Select date range">
  </div>
</div>
</div>

   <!-- DataTable -->
    <div class="card shadow mb-12">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                              <th style="width:5%">#</th>
                              <th style="width:20%">Created At</th>
                            <th style="width:15%">Customer</th>
                            <th style="width:10%">Transaction Type</th>
                            <th style="width:5%">Invoice/Bill No.</th>
                            <th style="width:5%">Total Amount</th>
                            <th style="width:10%">Received Amount</th>
                            <th style="width:15%">Receivable Balance</th>
                              <th style="width:10%">Actions</th>
                          </tr>
                        </thead>
                <tbody>
                      {% for transaction in transactions %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                        <td>{{ transaction.created_at|date:"Y-m-d" }}</td>
                          <td>{{ transaction.customer }}</td>
                          <td>{{ transaction.get_transaction_type_display }}</td>
                          <td>{{ transaction.invoice_bill_no|default:"-" }}</td>
                          <td>{{ transaction.total_amount|default:"-" }}</td>
                          <td>{{ transaction.received_paid_amount }}</td>
                          <td>{{ transaction.receivable_balance }}</td>

                            <td class="text-center">
                            <!--View-->
                            {% if transaction.sale %}
                            <a href="{% url 'sales:sales_details' transaction.sale.id %}" class="text-decoration-none">
                                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="tooltip" title="Update sale">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </a>
                            <!--Print receipt-->
                            <a href="{% url 'sales:sales_receipt_pdf' transaction.sale.id %}" class="text-decoration-none" target="_blank">
                                <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="tooltip" title="View Receipt">
                                    <i class="fas fa-receipt"></i>
                                </button>
                            </a>
                            {% else %}
                                <span class="text-muted"> <b>No Sale</b> </span>
                            {% endif %}
                        </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Datatables -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!--Datatable buttons-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.print.min.js"></script>
<!--Moment JS-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!--jQuery UI for datepicker-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- DateRangePicker -->
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.0.5/daterangepicker.min.js"></script>
<!--Datatables-->
<script>
    let tblCategories;

    // Function to filter the data based on the selected date range
    function filterByDateRange(startDate, endDate) {
        tblCategories.column(1).search(startDate + '|' + endDate, true, false).draw();
    }

    // Call the dataTables jQuery plugin
    $(document).ready(function() {

        // Initialize the DateRangePicker
    $('#dateRangePicker').daterangepicker({
        autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear',
        },
        startDate: moment().subtract(7, 'days'), // Set a default start date (7 days ago)
        endDate: moment(), // Set a default end date (today)
        opens: 'left', // Open the calendar on the left side of the input field
        });
        tblCategories = $('#dataTable').DataTable({
            dom: 'Bfrtip', // Buttons are draw at this element
            buttons: [
                {
                extend: 'print',
                text: 'Print <i class="fas fa-file ml-2"></i>',
                titleAttr: 'Print',
                className: 'btn btn-info',
                exportOptions: {
                    columns: [ 0, 1, 2, 3 ,4, 5, 6, 7 ]
                }
                },
                {
                    extend: 'excelHtml5',
                    text: 'Download Excel <i class="fas fa-file-excel ml-2"></i>',
                    titleAttr: 'Download Excel',
                    className: 'btn btn-success ml-2',
                    exportOptions: {
                        columns: [ 0, 1, 2, 3 ,4, 5, 6, 7 ]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    text: 'Download PDF <i class="fas fa-file-pdf ml-2"></i>',
                    titleAttr: 'Download PDF',
                    className: 'btn btn-danger ml-2',
                    download: 'open',
                    orientation: 'vertical',
                    pageSize: 'A4',
                    title: 'All Transactions',
                    exportOptions: {
                        columns: [ 1, 2, 3, 4, 5, 6, 7 ]
                    },
                    customize: function (doc) {
                        doc.styles = {
                            header: {
                                fontSize: 18,
                                bold: true,
                                alignment: 'center'
                            },
                            subheader: {
                                fontSize: 13,
                                bold: true
                            },
                            quote: {
                                italics: true
                            },
                            small: {
                                fontSize: 8
                            },
                            tableHeader: {
                                bold: true,
                                fontSize: 11,
                                color: 'white',
                                fillColor: '#34B655',
                                alignment: 'center',
                                valign: 'middle'
                            },
                            tableData: {
                                alignment: 'center',
                            }
                        };

                        // Company name as the title
                        doc.content.unshift({
                            text: 'Abdul Rehman : 0300-9693370 \n Asad ur Rehman : 0322-2221645',
                            style: 'companyName',
                        });
                        // Styles for the additional content
                        doc.styles.companyNameTitle = {
                            fontSize: 24,
                            bold: true,
                            alignment: 'center',
                            margin: [0, 0, 0, 10]
                        };

                        doc.content.unshift({
                            text: 'ABDUL REHMAN LOCK MAKERS',
                            style: 'companyNameTitle'
                        });

                        // Styles for the additional content
                        doc.styles.companyName = {
                            fontSize: 10,
                            bold: false,
                            alignment: 'center',
                            margin: [0, 10, 0, 20]
                        };

                        // Center alignment for all cells in the table
                        doc.content[3].table.body.forEach(row => {
                            row.forEach(cell => {
                                cell.alignment = 'center';
                            });
                        });

                        // Add horizontal lines between rows
                        doc.content[3].table.body.forEach(row => {
                            row.forEach(cell => {
                                cell.border = [false, false, false, true]; // [left, top, right, bottom]
                            });
                        });

                        doc.content[3].table.widths = ['15%', '15%', '20%', '10%', '15%','10%', '15%'];
                        doc.content[3].margin = [0, 10, 0, 40];
                        doc.content[3].layout = {};
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['Creation date: ', {text: moment().format('MM-DD-YYYY (HH:mm:ss)')}]
                                    },
                                    {
                                        alignment: 'right',
                                        text: ['page ', {text: page.toString()}, ' of ', {text: pages.toString()}]
                                    }
                                ],
                                margin: 20
                            }
                        });

                    }
                }
            ],
            deferRender: true,
            {#lengthMenu: [[-1], ["All"]],#} // it also can be used for showing all products on 1 page
            paging: true,
            columnDefs: [
                {
                    targets: [0],
                    visible: true,
                    searchable: false,
                },
                {
                    targets: [-1], // column index (start from 0)
                    orderable: false, // set orderable false for selected columns
                }
            ],
        });

        // Event listener for applying the date range filter
    $('#dateRangePicker').on('apply.daterangepicker', function(ev, picker) {
        var startDate = picker.startDate.format('YYYY-MM-DD');
        var endDate = picker.endDate.format('YYYY-MM-DD');
        console.log(startDate, endDate)
        filterByDateRange(startDate, endDate);
    });

    // Event listener for clearing the date range filter
    $('#dateRangePicker').on('cancel.daterangepicker', function() {
        var startDate = '';
        var endDate = '';
        filterByDateRange(startDate, endDate);
    });
});
</script>
{% endblock javascripts %}
